// BioDB

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='BioDB')
meta(name='robots' content='index, follow')
link(type='text/plain', rel='author', href='humans.txt')
link(rel='home' href='https://0xc0d3.pw')
