<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} | BioDB</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="{% block description %}{% endblock %}" name="description" />
    <meta content="{% block author %}{% endblock %}" name="author" />
    
    <link href="{{ url_for('static', filename='admin/plugins/jquery-scrollbar/jquery.scrollbar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='admin/plugins/boostrapv3/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='admin/plugins/boostrapv3/css/bootstrap-theme.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='admin/plugins/font-awesome/css/font-awesome.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='admin/css/style.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='admin/css/responsive.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='admin/css/custom-icon-set.css')}}" rel="stylesheet" type="text/css"/>
    {% block css %}{% endblock %}
    {% endblock %}
</head>
<body class="">
    <div class="header navbar navbar-inverse"> 
        <div class="navbar-inner">
            <div class="header-seperation"> 
                <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none;position:absolute;left:0">   
                    <li class="dropdown">
                        <a id="main-menu-toggle" href="#main-menu" class="">
                            <div class="iconset top-menu-toggle-white"></div>
                        </a>
                    </li>
                </ul>
                <a href="#">
                    <img src="{{ url_for('static', filename='admin/img/logo.png') }}" class="logo" alt="" data-src="{{ url_for('static', filename='admin/img/logo.png') }}" data-src-retina="{{ url_for('static', filename='admin/img/logo2x.png') }}" width="106" height="21"/>
                </a>
            </div>
            <div class="header-quick-nav"> 
                <div class="pull-left"> 
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="" id="layout-condensed-toggle">
                                <div class="iconset top-menu-toggle-dark"></div>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav quick-section">
                        <li class="quicklinks"><a href="#" class=""><div class="iconset top-reload"></div></a></li>
                        <li class="quicklinks"><span class="h-seperate"></span></li>
                        <li class="input-prepend inside search-form no-boarder">
                            <span class="add-on"><span class="iconset top-search"></span></span>
                            <input name="" type="text" class="no-boarder" placeholder="Search Dashboard" style="width:250px;">
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    
    <div class="page-container row-fluid">
        <div class="page-sidebar" id="main-menu"> 
            <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
                <div class="user-info-wrapper"> 
                    <div class="profile-wrapper">
                        <img src="{{ url_for('static', filename='admin/img/profiles/avatar.jpg') }}" alt="" data-src="{{ url_for('static', filename='admin/img/profiles/avatar.jpg') }}" data-src-retina="{{ url_for('static', filename='admin/img/profiles/avatar2x.jpg') }}" width="69" height="69" />
                    </div>
                    <div class="user-info">
                        <div class="greeting">Welcome</div>
                        <div class="username">John <span class="semi-bold">Smith</span></div>
                        <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
                    </div>
                </div>
                <p class="menu-title">BROWSE</p>
                <ul>
                    <li class="start active">
                        <a href="#">
                            <i class="icon-custom-home"></i>
                            <span class="title">Link 1</span>
                            <span class="selected"></span>
                            <span class="badge badge-important pull-right">5</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            <span class="title">Link 2</span>
                            <span class="badge badge-disable pull-right">203</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-flag"></i>
                            <span class="title">Link 3</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="icon-custom-ui"></i>
                            <span class="title">Link 4</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Sub Link 1</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-folder-open"></i>
                            <span class="title">Link 5</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="javascript:;">Sub Link 1</a></li>
                            <li>
                                <a href="javascript:;"><span class="title">Sub Link 2</span><span class="arrow "></span></a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:;">Sub Link 1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="scrollup">Scroll</a>
        <div class="page-content"> 
            <div class="content">  
                <div class="page-title">    
                    <h3>Master Page</h3>        
                </div>

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='admin/plugins/jquery-1.8.3.min.js') }}" type="text/javascript"></script> 
    <script src="{{ url_for('static', filename='admin/plugins/boostrapv3/js/bootstrap.min.js') }}" type="text/javascript"></script> 
    <script src="{{ url_for('static', filename='admin/plugins/breakpoints.js') }}" type="text/javascript"></script> 
    <script src="{{ url_for('static', filename='admin/plugins/jquery-scrollbar/jquery.scrollbar.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='admin/js/core.js') }}" type="text/javascript"></script> 

</body>
</html>